@model List<Webhoconl.Models.Oder>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ListOder</h2>
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th> Mã Môn</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>



    @foreach (var item in Model)
    {
    <tr class="font-italic">
        <td> @item.</td>

        <td> @item.Subject_ID</td>

        <td> @item.User</td>


        <td> @item.Status</td>

        <td>  @item.Price</td>

        <td> @item.Oder_Date</td>

        


    </tr>

    }

    <tr>
</table>

